<div class="page">
    <div>ID를 입력하시오. <input type="text" id="userid" name="userid" style="width:100px;"> </div>
    <div class="btn">
        <button type="button" class="history" route="/signup">회원가입</button>
        <button type="button" class="history" route="/login2">로그인</button>
    </div>
    <div id="history-app"></div>
</div>