<div class="page">
    <div>ID를 입력하시오. <input type="text" id="userid" name="userid" style="width:100px;"> </div>
    <button type="button" class="btn">회원가입</button>
    <button type="button" class="btn">로그인</button>
    <div id="history-app"></div>
</div>