<div class="page">
  <h1>자유 게시판</h1>
  <div class="board">
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
  </div>
</div>