<div class="page">
  <p>자유 게시판</p>
  <p>등록하기</p>
  <div class="board">
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
      <p>12/18 아주 비기너 참여하시는.. 익명 </p>
  </div>
</div>